<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<%= content_for :data_url, email_password_resets_path %>

<% content_for :header do %>
    <h1><%=t :Recover %></h1>
<% end %>

<% content_for :back do %>
    <%= mobile_link_back_to new_password_reset_path %>
<% end %>

<%= form_tag email_password_resets_path, 'data-ajax' => false do %>
    <ul data-role="listview" data-inset="true">
      <li data-role="fieldcontain">
        <%=t :Forgot_password_description_email_for_mobile %>
      </li>

      <li data-role="fieldcontain">
        <label><%=t :Email %></label>
        <%= text_field_tag "email_password_reset_email", '', :name => 'email_password_reset[email]' %>
      </li>

      <li data-role="fieldcontain">
        <%= submit_tag t(:Reset) %>
      </li>
    </ul>
<% end %>
